@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PlaywriteIEGuides";
    font-style: normal;
    src: url(./fonts/PlaywriteIEGuides-Regular.ttf);
  }
  @font-face {
    font-family: "Varela";
    font-style: normal;
    src: url(./fonts/Varela-Regular.ttf);
  }
  @font-face {
    font-family: "Anton";
    font-style: normal;
    src: url(./fonts/Anton-Regular.ttf);
  }
}

body {
  @apply bg-bg2 max-w-full h-full bg-cover bg-no-repeat;
}

/* Global dark scrollbar styling */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Darker color for the scrollbar thumb */
  border-radius: 5px; /* Rounded edges for a smoother look */
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a; /* Match the site's darker background */
}

/* Optional: Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #777; /* Slightly lighter on hover */
}
